In [1]:
import pandas as pd
import numpy as np 
import chardet

In [3]:
with open('NutritionalFacts_Fruit_Vegetables_Seafood.csv', 'rb') as f:
    encode = chardet.detect(f.read())
print("Encoding is :", encode['encoding'])

Encoding is : MacRoman

In [4]:
dataset = pd.read_csv('NutritionalFacts_Fruit_Vegetables_Seafood.csv', encoding= 'MacRoman')
dataset.head()

,Food and Serving,Calories,Calories from Fat,Total Fat,Total Fat.1,Sodium,Sodium.1,Potassium,Potassium.1,Total Carbo-hydrate,...,Protein,Vitamin A,Vitamin C,Calcium,Iron,Saturated Fat,Saturated Fat.1,Chole-sterol,Chole-sterol.1,Food Type
0,NaN,NaN,NaN,(g),(%DV),(g),(%DV),(g),(%DV),(g),...,(g),(%DV),(%DV),(%DV),(%DV),(%DV),(mg),(%DV),(mg),NaN
1,"Asparagus, 5 spears (93 g/3.3 oz)",20.0,0.0,0,0,0,0,230,7,4,...,2,10,15,2,2,NaN,NaN,NaN,NaN,"Vegetables, Serving Size (gram weight/ ounce w..."
2,"Bell Pepper, 1 medium (148 g/5.3 oz)",25.0,0.0,0,0,40,2,220,6,6,...,1,4,190,2,4,NaN,NaN,NaN,NaN,"Vegetables, Serving Size (gram weight/ ounce w..."
3,"Broccoli, 1 medium stalk (148 g/5.3 oz)",45.0,0.0,0.5,1,80,3,460,13,8,...,4,6,220,6,6,NaN,NaN,NaN,NaN,"Vegetables, Serving Size (gram weight/ ounce w..."
4,"Carrot, 1 carrot, 7"" long, 1 1/4"" diameter (78...",30.0,0.0,0,0,60,3,250,7,7,...,1,110,10,2,2,NaN,NaN,NaN,NaN,"Vegetables, Serving Size (gram weight/ ounce w..."

In [5]:
# Displaying the data type of each column
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Food and Serving       61 non-null     object
 1   Calories               61 non-null     float64
 2   Calories from Fat      61 non-null     float64
 3   Total Fat              62 non-null     object
 4   Total Fat.1            62 non-null     object
 5   Sodium                 62 non-null     object
 6   Sodium.1               62 non-null     object
 7   Potassium              62 non-null     object
 8   Potassium.1            62 non-null     object
 9   Total Carbo-hydrate    62 non-null     object
 10  Total Carbo-hydrate.1  62 non-null     object
 11  Dietary Fiber          41 non-null     object
 12  Dietary Fiber.1        41 non-null     object
 13  Sugars                 41 non-null     object
 14  Protein                62 non-null     object
 15  Vitamin A              62 non-null     object
 16  Vitamin C              62 non-null     object
 17  Calcium                62 non-null     object
 18    Iron                 62 non-null     object
 19  Saturated Fat          22 non-null     object
 20  Saturated Fat.1        22 non-null     object
 21  Chole-sterol           22 non-null     object
 22  Chole-sterol.1         22 non-null     object
 23  Food Type              61 non-null     object
dtypes: float64(2), object(22)
memory usage: 11.8+ KB

In [6]:
df = dataset

In [7]:
first_row = df.iloc[0].dropna()
for column in first_row.index:
    df.rename(columns={column: column + str(first_row[column])}, inplace = True)
    
df = df.drop(df.index[0])
df.head()

# Combined the first row with the column name so it would be easier to display the data. It can also be useful for future uses

,Food and Serving,Calories,Calories from Fat,Total Fat(g),Total Fat.1(%DV),Sodium(g),Sodium.1(%DV),Potassium(g),Potassium.1(%DV),Total Carbo-hydrate(g),...,Protein(g),Vitamin A(%DV),Vitamin C(%DV),Calcium(%DV),Iron (%DV),Saturated Fat(%DV),Saturated Fat.1(mg),Chole-sterol(%DV),Chole-sterol.1(mg),Food Type
1,"Asparagus, 5 spears (93 g/3.3 oz)",20.0,0.0,0,0,0,0,230,7,4,...,2,10,15,2,2,NaN,NaN,NaN,NaN,"Vegetables, Serving Size (gram weight/ ounce w..."
2,"Bell Pepper, 1 medium (148 g/5.3 oz)",25.0,0.0,0,0,40,2,220,6,6,...,1,4,190,2,4,NaN,NaN,NaN,NaN,"Vegetables, Serving Size (gram weight/ ounce w..."
3,"Broccoli, 1 medium stalk (148 g/5.3 oz)",45.0,0.0,0.5,1,80,3,460,13,8,...,4,6,220,6,6,NaN,NaN,NaN,NaN,"Vegetables, Serving Size (gram weight/ ounce w..."
4,"Carrot, 1 carrot, 7"" long, 1 1/4"" diameter (78...",30.0,0.0,0,0,60,3,250,7,7,...,1,110,10,2,2,NaN,NaN,NaN,NaN,"Vegetables, Serving Size (gram weight/ ounce w..."
5,"Cauliflower, 1/6 medium head (99 g/3.5 oz)",25.0,0.0,0,0,30,1,270,8,5,...,2,0,100,2,2,NaN,NaN,NaN,NaN,"Vegetables, Serving Size (gram weight/ ounce w..."

In [9]:
# Now we convert some columsn to float type

df.iloc[:,3 : 23] = df.iloc[:,3 : 23].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 1 to 61
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Food and Serving            61 non-null     object
 1   Calories                    61 non-null     float64
 2   Calories from Fat           61 non-null     float64
 3   Total Fat(g)                61 non-null     float64
 4   Total Fat.1(%DV)            61 non-null     float64
 5   Sodium(g)                   61 non-null     float64
 6   Sodium.1(%DV)               61 non-null     float64
 7   Potassium(g)                61 non-null     float64
 8   Potassium.1(%DV)            61 non-null     float64
 9   Total Carbo-hydrate(g)      61 non-null     float64
 10  Total Carbo-hydrate.1(%DV)  61 non-null     float64
 11  Dietary Fiber(g)            40 non-null     float64
 12  Dietary Fiber.1(%DV)        40 non-null     float64
 13  Sugars(g)                   40 non-null     float64
 14  Protein(g)                  61 non-null     float64
 15  Vitamin A(%DV)              61 non-null     float64
 16  Vitamin C(%DV)              61 non-null     float64
 17  Calcium(%DV)                61 non-null     float64
 18    Iron  (%DV)               61 non-null     float64
 19  Saturated Fat(%DV)          21 non-null     float64
 20  Saturated Fat.1(mg)         21 non-null     float64
 21  Chole-sterol(%DV)           21 non-null     float64
 22  Chole-sterol.1(mg)          21 non-null     float64
 23  Food Type                   61 non-null     object
dtypes: float64(22), object(2)
memory usage: 11.6+ KB

C:\Users\ACER\AppData\Local\Temp\ipykernel_22120\440552756.py:3: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,3 : 23] = df.iloc[:,3 : 23].astype(float)

In [10]:
# Thats it for now, lets save it 
# not removing the null values as there are many items with null values and it is not due to mistake in data input
df.to_csv('clean_data.csv', index=False)